# Wczytanie danych

In [50]:
import pandas as pd
import numpy as np

In [51]:
df1 = pd.read_csv("wdi_unemp.csv", encoding="latin1")
df2 = pd.read_csv("wdi_education.csv", encoding="latin1")
df3 = pd.read_csv("wdi_life_expectancy.csv", encoding="latin1")
df4 = pd.read_csv("wdi_health.csv", encoding="latin1")
df5 = pd.read_csv("wdi_inflation.csv", encoding="latin1")
df6 = pd.read_csv("wdi_gini.csv", encoding="latin1")
df8 = pd.read_csv("wdi_urban.csv", encoding="latin1")
df9 = pd.read_csv("wdi_school.csv", encoding="latin1")
df10 = pd.read_csv("wdi_agriculture.csv", encoding="latin1")
df11 = pd.read_csv("wdi_population_0-14.csv", encoding="latin1")

In [52]:
year_cols = [c for c in df1.columns if "[YR" in c]

df1 = df1.melt(
    id_vars=[
        "Series Name",
        "Series Code",
        "Country Name",
        "Country Code"
    ],
    value_vars=year_cols,
    var_name="Year",
    value_name="Value"
)

df1["Year"] = (
    df1["Year"]
    .str.extract(r"(\d{4})")
    .astype(int)
)

df1 = df1.sort_values(
    by=["Country Name", "Year"]
).reset_index(drop=True)

df1 = df1[
    df1["Series Name"] == "Unemployment, total (% of total labor force) (modeled ILO estimate)"
]

df1 = df1[
    ["Country Name", "Year", "Value"]
]

df1 = df1.rename(columns={
    "Country Name": "Kraj",
    "Year": "Rok",
    "Value": "Stopa_bezrobocia"
})

In [53]:
year_cols = [c for c in df2.columns if "[YR" in c]

df2 = df2.melt(
    id_vars=[
        "Series Name",
        "Series Code",
        "Country Name",
        "Country Code"
    ],
    value_vars=year_cols,
    var_name="Year",
    value_name="Value"
)

df2["Year"] = (
    df2["Year"]
    .str.extract(r"(\d{4})")
    .astype(int)
)

df2 = df2.sort_values(
    by=["Country Name", "Year"]
).reset_index(drop=True)

df2 = df2[
    df2["Series Name"] == "Government expenditure on education, total (% of GDP)"
]

df2 = df2[
    ["Country Name", "Year", "Value"]
]

df2 = df2.rename(columns={
    "Country Name": "Kraj",
    "Year": "Rok",
    "Value": "Edukacja"
})

In [54]:
year_cols = [c for c in df3.columns if "[YR" in c]

df3 = df3.melt(
    id_vars=[
        "Series Name",
        "Series Code",
        "Country Name",
        "Country Code"
    ],
    value_vars=year_cols,
    var_name="Year",
    value_name="Value"
)

df3["Year"] = (
    df3["Year"]
    .str.extract(r"(\d{4})")
    .astype(int)
)

df3 = df3.sort_values(
    by=["Country Name", "Year"]
).reset_index(drop=True)

df3 = df3[
    df3["Series Name"] == "Life expectancy at birth, total (years)"
]

df3 = df3[
    ["Country Name", "Year", "Value"]
]

df3 = df3.rename(columns={
    "Country Name": "Kraj",
    "Year": "Rok",
    "Value": "Dlugosc_zycia"
})

In [55]:
year_cols = [c for c in df4.columns if "[YR" in c]

df4 = df4.melt(
    id_vars=[
        "Series Name",
        "Series Code",
        "Country Name",
        "Country Code"
    ],
    value_vars=year_cols,
    var_name="Year",
    value_name="Value"
)

df4["Year"] = (
    df4["Year"]
    .str.extract(r"(\d{4})")
    .astype(int)
)

df4 = df4.sort_values(
    by=["Country Name", "Year"]
).reset_index(drop=True)

df4 = df4[
    df4["Series Name"] == "Current health expenditure (% of GDP)"
]

df4 = df4[
    ["Country Name", "Year", "Value"]
]

df4 = df4.rename(columns={
    "Country Name": "Kraj",
    "Year": "Rok",
    "Value": "Zdrowie"
})

In [56]:
year_cols = [c for c in df5.columns if "[YR" in c]

df5 = df5.melt(
    id_vars=[
        "Series Name",
        "Series Code",
        "Country Name",
        "Country Code"
    ],
    value_vars=year_cols,
    var_name="Year",
    value_name="Value"
)

df5["Year"] = (
    df5["Year"]
    .str.extract(r"(\d{4})")
    .astype(int)
)

df5 = df5.sort_values(
    by=["Country Name", "Year"]
).reset_index(drop=True)

df5 = df5[
    df5["Series Name"] == "Inflation, consumer prices (annual %)"
]

df5 = df5[
    ["Country Name", "Year", "Value"]
]

df5 = df5.rename(columns={
    "Country Name": "Kraj",
    "Year": "Rok",
    "Value": "Inflacja"
})

In [57]:
year_cols = [c for c in df6.columns if "[YR" in c]

df6 = df6.melt(
    id_vars=[
        "Series Name",
        "Series Code",
        "Country Name",
        "Country Code"
    ],
    value_vars=year_cols,
    var_name="Year",
    value_name="Value"
)

df6["Year"] = (
    df6["Year"]
    .str.extract(r"(\d{4})")
    .astype(int)
)

df6 = df6.sort_values(
    by=["Country Name", "Year"]
).reset_index(drop=True)

df6 = df6[
    df6["Series Name"] == "Gini index"
]

df6 = df6[
    ["Country Name", "Year", "Value"]
]

df6 = df6.rename(columns={
    "Country Name": "Kraj",
    "Year": "Rok",
    "Value": "Gini"
})

In [58]:
year_cols = [c for c in df8.columns if "[YR" in c]

df8 = df8.melt(
    id_vars=[
        "Series Name",
        "Series Code",
        "Country Name",
        "Country Code"
    ],
    value_vars=year_cols,
    var_name="Year",
    value_name="Value"
)

df8["Year"] = (
    df8["Year"]
    .str.extract(r"(\d{4})")
    .astype(int)
)

df8 = df8.sort_values(
    by=["Country Name", "Year"]
).reset_index(drop=True)

df8 = df8[
    df8["Series Name"] == "Urban population (% of total population)"
]

df8 = df8[
    ["Country Name", "Year", "Value"]
]

df8 = df8.rename(columns={
    "Country Name": "Kraj",
    "Year": "Rok",
    "Value": "Wspolczynnik_urbanizacji"
})

In [59]:
year_cols = [c for c in df9.columns if "[YR" in c]

df9 = df9.melt(
    id_vars=[
        "Series Name",
        "Series Code",
        "Country Name",
        "Country Code"
    ],
    value_vars=year_cols,
    var_name="Year",
    value_name="Value"
)

df9["Year"] = (
    df9["Year"]
    .str.extract(r"(\d{4})")
    .astype(int)
)

df9 = df9.sort_values(
    by=["Country Name", "Year"]
).reset_index(drop=True)

df9 = df9[
    df9["Series Name"] == "School enrollment, primary (% gross)"
]

df9 = df9[
    ["Country Name", "Year", "Value"]
]

df9 = df9.rename(columns={
    "Country Name": "Kraj",
    "Year": "Rok",
    "Value": "Skolaryzacja"
})

In [60]:
year_cols = [c for c in df10.columns if "[YR" in c]

df10 = df10.melt(
    id_vars=[
        "Series Name",
        "Series Code",
        "Country Name",
        "Country Code"
    ],
    value_vars=year_cols,
    var_name="Year",
    value_name="Value"
)

df10["Year"] = (
    df10["Year"]
    .str.extract(r"(\d{4})")
    .astype(int)
)

df10 = df10.sort_values(
    by=["Country Name", "Year"]
).reset_index(drop=True)

df10 = df10[
    df10["Series Name"] == "Agriculture, forestry, and fishing, value added (% of GDP)"
]

df10 = df10[
    ["Country Name", "Year", "Value"]
]

df10 = df10.rename(columns={
    "Country Name": "Kraj",
    "Year": "Rok",
    "Value": "Rolnictwo"
})

In [61]:
year_cols = [c for c in df11.columns if "[YR" in c]

df11 = df11.melt(
    id_vars=[
        "Series Name",
        "Series Code",
        "Country Name",
        "Country Code"
    ],
    value_vars=year_cols,
    var_name="Year",
    value_name="Value"
)

df11["Year"] = (
    df11["Year"]
    .str.extract(r"(\d{4})")
    .astype(int)
)

df11 = df11.sort_values(
    by=["Country Name", "Year"]
).reset_index(drop=True)

df11 = df11[
    df11["Series Name"] == "Population ages 0-14 (% of total population)"
]

df11 = df11[
    ["Country Name", "Year", "Value"]
]

df11 = df11.rename(columns={
    "Country Name": "Kraj",
    "Year": "Rok",
    "Value": "Dzieci_0-14"
})

In [62]:
df7 = pd.read_csv(
    "data_wid.csv",
    sep=";",
    engine="python",
    quotechar='"',
    skiprows=1,
    header=None
)

In [63]:
df7.columns = df7.iloc[0] 
df7 = df7.iloc[1:].reset_index(drop=True)

df7 = df7.melt(
    id_vars=["Percentile ", "Year "],
    var_name="raw_column",
    value_name="value"
)

df7["country"] = (
    df7["raw_column"]
    .str.split("\n")
    .str[-1]
    .str.strip()
)

df7["indicator_code"] = (
    df7["raw_column"]
    .str.extract(r"^([a-z0-9_]+)_")
)

indicator_map = {
    "agdpro_992_i": "gdp_pc",
    "sptinc_z": "income_share"
}


df7 = df7[df7["indicator_code"].isin(indicator_map)]
df7["indicator"] = df7["indicator_code"].map(indicator_map)

df7["Percentile"] = df7["Percentile "].str.strip()
df7["value"] = pd.to_numeric(df7["value"], errors="coerce")
df7["Year"] = df7["Year "].astype(int)

In [64]:
df_income = (
    df7
    .pivot_table(
        index=["country", "Year"],
        columns="Percentile",
        values="value"
    )
    .reset_index()
)

df_income = df_income.drop(columns=["pall"])

gdp = (
    df7[df7["indicator"] == "gdp_pc"]
    [["country", "Year", "value"]]
    .rename(columns={"value": "gdp_pc"})
)

df7 = df_income.merge(
    gdp,
    on=["country", "Year"],
    how="left"
)

df7 = (
    df7
    .drop_duplicates(subset=["country", "Year"], keep="first")
    .reset_index(drop=True)
)

In [65]:
df7 = df7.rename(columns={
    "country": "Kraj",
    "Year": "Rok",
    "gdp_pc": "PKB_pc"
})

In [66]:
data = df1.merge(df2, on=["Kraj", "Rok"], how="left")
data = data.merge(df3, on=["Kraj", "Rok"], how="left")
data = data.merge(df4, on=["Kraj", "Rok"], how="left")
data = data.merge(df5, on=["Kraj", "Rok"], how="left")
data = data.merge(df6, on=["Kraj", "Rok"], how="left")
data = data.merge(df8, on=["Kraj", "Rok"], how="left")
data = data.merge(df9, on=["Kraj", "Rok"], how="left")
data = data.merge(df10, on=["Kraj", "Rok"], how="left")
data = data.merge(df11, on=["Kraj", "Rok"], how="left")

In [67]:
country_map = {
    "Bahamas, The": "Bahamas",
    "Congo, Rep.": "Congo",
    "Cote d'Ivoire": "Cote d’Ivoire",
    "Czechia": "Czech Republic",
    "Congo, Dem. Rep.": "DR Congo",
    "Egypt, Arab Rep.": "Egypt",
    "Gambia, The": "Gambia",
    "Hong Kong SAR, China": "Hong Kong",
    "Iran, Islamic Rep.": "Iran",
    "Korea, Rep.": "Korea",
    "Micronesia, Fed. Sts.": "Micronesia",
    "Korea, Dem. People's Rep.": "North Korea",
    "Puerto Rico (US)": "Puerto Rico",
    "Slovak Republic": "Slovakia",
    "Somalia, Fed. Rep.": "Somalia",
    "Turkiye": "Turkey",
    "St. Vincent and the Grenadines": "Saint Vincent and the Grenadines",
    "St. Kitts and Nevis": "Saint Kitts and Nevis",
    "St. Lucia": "Saint Lucia",
    "United States": "USA",
    "Venezuela, RB": "Venezuela",
    "Yemen, Rep.": "Yemen"
}
data["Kraj"] = data["Kraj"].replace(country_map)

data = data.merge(df7, on=["Kraj", "Rok"], how="left")

In [68]:
data = data.replace("..", np.nan)
data = data.dropna(axis=1, how="all")

In [69]:
data = data.reset_index(drop=True)

In [70]:
data.to_csv(
    "data.csv",
    index=False,
    encoding="utf-8-sig"
)

In [71]:
clean_data = data.dropna( subset=["p0p50", "p90p100", "p99p100", "Gini"] )
clean_data['Indeks_nierow'] = clean_data['p99p100'] / clean_data['p0p50']

C:\Users\hnowa\AppData\Local\Temp\ipykernel_16244\919457044.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  clean_data['Indeks_nierow'] = clean_data['p99p100'] / clean_data['p0p50']

In [72]:
country_to_continent = {
    "Albania": "Europe",
    "Algeria": "Africa",
    "Angola": "Africa",
    "Argentina": "South America",
    "Armenia": "Asia",
    "Australia": "Oceania",
    "Austria": "Europe",
    "Azerbaijan": "Asia",
    "Bangladesh": "Asia",
    "Barbados": "North America",
    "Belarus": "Europe",
    "Belgium": "Europe",
    "Belize": "North America",
    "Benin": "Africa",
    "Bhutan": "Asia",
    "Bolivia": "South America",
    "Bosnia and Herzegovina": "Europe",
    "Botswana": "Africa",
    "Brazil": "South America",
    "Bulgaria": "Europe",
    "Burkina Faso": "Africa",
    "Burundi": "Africa",
    "Cabo Verde": "Africa",
    "Cameroon": "Africa",
    "Canada": "North America",
    "Central African Republic": "Africa",
    "Chad": "Africa",
    "Chile": "South America",
    "China": "Asia",
    "Colombia": "South America",
    "Comoros": "Africa",
    "DR Congo": "Africa",
    "Congo": "Africa",
    "Costa Rica": "North America",
    "Cote d’Ivoire": "Africa",
    "Croatia": "Europe",
    "Cyprus": "Asia",
    "Czech Republic": "Europe",
    "Denmark": "Europe",
    "Djibouti": "Africa",
    "Dominican Republic": "North America",
    "Ecuador": "South America",
    "Egypt": "Africa",
    "El Salvador": "North America",
    "Equatorial Guinea": "Africa",
    "Estonia": "Europe",
    "Ethiopia": "Africa",
    "Fiji": "Oceania",
    "Finland": "Europe",
    "France": "Europe",
    "Gabon": "Africa",
    "Gambia": "Africa",
    "Georgia": "Asia",
    "Germany": "Europe",
    "Ghana": "Africa",
    "Greece": "Europe",
    "Grenada": "North America",
    "Guatemala": "North America",
    "Guinea": "Africa",
    "Guinea-Bissau": "Africa",
    "Guyana": "South America",
    "Haiti": "North America",
    "Honduras": "North America",
    "Hungary": "Europe",
    "Iceland": "Europe",
    "India": "Asia",
    "Indonesia": "Asia",
    "Iran": "Asia",
    "Iraq": "Asia",
    "Ireland": "Europe",
    "Israel": "Asia",
    "Italy": "Europe",
    "Jamaica": "North America",
    "Japan": "Asia",
    "Jordan": "Asia",
    "Kazakhstan": "Asia",
    "Kenya": "Africa",
    "Kiribati": "Oceania",
    "Korea": "Asia",
    "Kosovo": "Europe",
    "Lao PDR": "Asia",
    "Latvia": "Europe",
    "Lebanon": "Asia",
    "Lesotho": "Africa",
    "Liberia": "Africa",
    "Lithuania": "Europe",
    "Luxembourg": "Europe",
    "Madagascar": "Africa",
    "Malawi": "Africa",
    "Malaysia": "Asia",
    "Maldives": "Asia",
    "Mali": "Africa",
    "Malta": "Europe",
    "Marshall Islands": "Oceania",
    "Mauritania": "Africa",
    "Mauritius": "Africa",
    "Mexico": "North America",
    "Micronesia": "Oceania",
    "Moldova": "Europe",
    "Mongolia": "Asia",
    "Montenegro": "Europe",
    "Morocco": "Africa",
    "Mozambique": "Africa",
    "Myanmar": "Asia",
    "Namibia": "Africa",
    "Nauru": "Oceania",
    "Nepal": "Asia",
    "Netherlands": "Europe",
    "Nicaragua": "North America",
    "Niger": "Africa",
    "Nigeria": "Africa",
    "North Macedonia": "Europe",
    "Norway": "Europe",
    "Pakistan": "Asia",
    "Panama": "North America",
    "Papua New Guinea": "Oceania",
    "Paraguay": "South America",
    "Peru": "South America",
    "Philippines": "Asia",
    "Poland": "Europe",
    "Portugal": "Europe",
    "Qatar": "Asia",
    "Romania": "Europe",
    "Russian Federation": "Europe",
    "Rwanda": "Africa",
    "Samoa": "Oceania",
    "Sao Tome and Principe": "Africa",
    "Senegal": "Africa",
    "Serbia": "Europe",
    "Seychelles": "Africa",
    "Sierra Leone": "Africa",
    "Slovakia": "Europe",
    "Slovenia": "Europe",
    "Solomon Islands": "Oceania",
    "South Africa": "Africa",
    "South Sudan": "Africa",
    "Spain": "Europe",
    "Sri Lanka": "Asia",
    "Saint Lucia": "North America",
    "Sudan": "Africa",
    "Suriname": "South America",
    "Sweden": "Europe",
    "Switzerland": "Europe",
    "Syrian Arab Republic": "Asia",
    "Tajikistan": "Asia",
    "Tanzania": "Africa",
    "Thailand": "Asia",
    "Timor-Leste": "Asia",
    "Togo": "Africa",
    "Tonga": "Oceania",
    "Trinidad and Tobago": "North America",
    "Tunisia": "Africa",
    "Turkey": "Asia",
    "Turkmenistan": "Asia",
    "Tuvalu": "Oceania",
    "Uganda": "Africa",
    "Ukraine": "Europe",
    "United Arab Emirates": "Asia",
    "United Kingdom": "Europe",
    "USA": "North America",
    "Uruguay": "South America",
    "Uzbekistan": "Asia",
    "Vanuatu": "Oceania",
    "Venezuela": "South America",
    "Viet Nam": "Asia",
    "Yemen": "Asia",
    "Zambia": "Africa",
    "Zimbabwe": "Africa"
}

clean_data["Kontynent"] = clean_data["Kraj"].map(country_to_continent)

C:\Users\hnowa\AppData\Local\Temp\ipykernel_16244\2169430701.py:172: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  clean_data["Kontynent"] = clean_data["Kraj"].map(country_to_continent)

In [73]:
clean_data.to_csv(
    "clean_data.csv",
    index=False,
    encoding="utf-8-sig"
)